$noticeWarningBorderColor: #ddd690;
$noticeWarningBackgroundColor: #f9f4c4;
$noticeWarningTextColor: #98712b;

$noticeErrorBorderColor: #e4b9b7;
$noticeErrorBackgroundColor: #ecc8c5;
$noticeErrorTextColor: #ca6462;

$primaryColor: #1084ff;
// $secondaryColor: #43b6e4;
// $secondaryColor: #009bbf;
$secondaryColor: #009bbf;
$navBarLinkColor: #fff;
$navBarLinkColorActive: #0976ea;

$titleColor: #105ebf;

$inputBorderColor: #ddd;