// =====================================================================
// _variables.scss
// =====================================================================

$pageWidthDesk: 1200px;
$pageWidthTablet: 900px;
$pageWidthMobile: 480px;
$headerHeight: 80px;
$navbarHeight: 60px;
$headerBottomSpacing: 50px;