@use '../abstract/colors';

.notice {
    border: 1px solid;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--warning {
        border-color: colors.$noticeWarningBorderColor;
        background-color: colors.$noticeWarningBackgroundColor;
        color: colors.$noticeWarningTextColor;
    }

    &--error {
        border-color: colors.$noticeErrorBorderColor;
        background-color: colors.$noticeErrorBackgroundColor;
        color: colors.$noticeErrorTextColor;
    }

    &--info {
        border-color: colors.$noticeInfoBorderColor;
        background-color: colors.$noticeInfoBackgroundColor;
        color: colors.$noticeInfoTextColor;
    }

}